

<html>
  <head>
    <title>Event Source Example</title>
    <script type="application/javascript">
      var request = new EventSource("http://localhost:8080/notifications/test");

      request.onmessage = function (event) {
        var data = event.data.split('\n');
        var name = data[0];
        var action = data[1];
        console.log(name + " has " + action + " the chat!");
        var divContainer = document.getElementById("container");
        var divRow = document.createElement("div");
        var li = document.createElement("li");
        divRow.id = "row"
        li.innerHTML = name;
        divRow.appendChild(li);
        divContainer.appendChild(divRow);
      };

      request.onerror = function (event) {
        console.log("SSE onerror " + event);
      }

      request.onopen = function () {
        console.log("SSE onopen");
      }
    </script>
  </head>
  <body>
    <p>Listening of Server Sent Events</p>
    <div id="container">
    </div>
  </body>
</html>